@import url(fields/index.css);

form {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

fieldset {
  border: none;
  gap: 1rem;
}

legend {
  font: var(--heading-sm);
  color: var(--text-heading);
}

.container-legend {
  display: flex;
  gap: 0.75rem;
  align-items: center;

  & img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.container-fields {
  margin-top: 1.5rem;
  display: grid;
  gap: 2rem;
}

.container-fields .flex {
  gap: 1rem;
}

#customization {
  margin-top: 3.125rem;
}

label[for="main-color"] {
  margin: 1.5rem 0 1rem 0;
}

label[for="event-theme"] {
  margin: 1.75rem 0 1rem 0;
}

.style-and-photo {
  margin-top: 1.75rem;
  gap: 1rem;
  flex-wrap: wrap;
}

#style {
  max-width: 11rem;
}

#cover-photo {
  max-width: 23rem;
}

#contact {
  margin-top: 3rem;
}

.email-and-phone {
  margin-top: 2rem;
  gap: 1rem;
}

#contact > .input-wrapper {
  margin-top: 1.5rem;
}

#footer {
  margin-top: 3rem;
  border-top: 1px solid var(--input-stroke);
}

.container-checkboxes {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap:.25rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  margin-top: 3rem;
  width: 11.0625rem;
  height: 3rem;
  background-color: var(--brand-dark);
  border: none;
  border-radius: .5rem;
  align-self: flex-end;
  margin-bottom: 5rem;
}

button:hover {
  cursor: pointer;
}

button > p {
  font: var(--body-md-semi);
  color: var(--text-heading);
}

button > img {
  width: 1.25rem;
  height: 1.25rem;
}

.error {
  display: none;
}
